.h-top {
  width: 100%;
}
/*--top header start--*/
.top-header {
  padding: 0em 2em;
  background: #5B83AD;
  z-index:300;
}
ul.top-nag {
  float: left;
  margin-bottom: 0;
}
ul.top-nag li {
  display: inline-block;
  margin-left: 0;
}
ul.top-nag a {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  background: #5B83AD;
}
ul.top-nag a.active {
  color: #ffcc00;
}
.search-box {
  float: right;
  width: 20%;
  margin-top: 0.3em;
}
.b-search {
  position: relative;
  height: 2em;
  border: 1px solid #5B83AD;
  padding: 0.5em 0;
  background: #5B83AD;
  width: 99%;
}
.b-search input[type="text"] {
  width: 85%;
  height: 3.2em;
  outline: none;
  border: none;
  padding: 0 0.6em;
  font-size: 0.9em;
  color: #fff;
  background: #5078a2;
}
.b-search input[type="submit"] {
  background: url(../images/search.png) no-repeat 0px 2px;
  border: none;
  height: 2em;
  width: 2em;
  position: absolute;
  outline: none;
  top: 1em;
  right: 0.8em;
}
/*--top header end--*/
/*--left-side nav bar start--*/
.top-nav {
  float: left;
  background-color: #f26649;
  margin-top: -4.5em;
  width: 15%;
  height: 100%;
  z-index: 100;
}
.top-nav .logo a {
  display: block;
}
.top-nav .logo a h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}
.top-nav .logo a h1:hover {
  text-decoration: none;
}
.top-nav .top-menu ul {
  margin-top: 9em;
}
.top-nav .top-menu ul li {
  display: block;
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
}
.top-nav .top-menu ul li a {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1em;
}
.top-nav .top-menu ul.side-icons {
  border: none;
}
.top-nav .top-menu ul.side-icons li {
  list-style-type: none;
  display: inline-block;
  margin-right: .8em;
}
.top-nav .top-menu ul.side-icons li i {
  font-size: 2em;
}
.top-nav .top-menu ul.side-icons li i:hover {
  cursor: pointer;
  color: #dddddd;
}
.cl-effect-16 a {
  color: #6f8686;
  text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}
.cl-effect-16 a::before {
  color: #ffcc00;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
/*--left-side nav bar end--*/
/*--main content start--*/
.main {
  float: right;
  width: 75%;
}
.main .banner-section {
  float: left;
  padding: 0 1em 1.5em 1em;
  border-right: none;
}
.main .banner-section h3.title {
  color: #333;
  font-size: 2em;
  text-align: left;
  margin-bottom: .8em;
}
.main .banner-section h3.title i {
  font-size: .7em;
  color: #f26649;
}
.main .banner-section .carousel-indicators-position {
  bottom: 100% !important;
  left: 94% !important;
}
.main .banner-section .carousel-indicators-position li {
  width: 1em !important;
  height: 1em !important;
  background: #f26649 !important;
}
.main .banner-section .carousel-indicators-position .active {
  width: 1.1em !important;
  height: 1.1em !important;
  background: #5B83AD !important;
}
.main .banner-section .banner {
  padding: 0;
}
.main .banner-section .banner .b-bottom {
  margin-top: 1em;
}
.main .banner-section .banner .b-bottom p a {
  margin: 0 .2em;
}
.main .banner-section .top-news {
  padding: 2em 0;
}
.main .banner-section .top-news .top-text {
  padding-left: 0;
}
.main .banner-section .top-news .top-text p {
  font-size: .9em;
  font-weight: 400;
  line-height: 1.9em;
  color: #777;
}
.main .banner-section .top-news .top-text p .glyphicon {
  margin: 0 .2em 0 2em !important;
}
.main .banner-section .top-news .two {
  padding-right: 0;
  padding-left: 1em;
}
.main .banner-right-text {
  float: right;
  padding: 0 1em 1.5em 1em;
}
.main .banner-right-text .general-news .edit-pics {
  margin-top: 3em;
}
.main .banner-right-text .general-news .edit-pics .editor-pics {
  padding: 0 !important;
}
/*--main content end--*/
/*--footer start--*/
.footer {
  float: left;
  margin-top: 5em;
  padding: 1em 0 !important;
}
.footer .footer-top {
  background-color: #222;
}
.footer .footer-top .footer-grid h4 {
  color: #fff;
  font-size: 1.8em;
}
.footer .footer-top .footer-grid ul.bottom {
  margin-top: 1.6em;
}
.footer .footer-top .footer-grid ul.bottom li {
  list-style: none;
  display: block;
  margin-bottom: 1em;
  color: #707073;
}
.footer .footer-top .footer-grid ul.bottom li i {
  margin-right: .4em;
}
.footer .footer-top .footer-grid ul.bottom li a {
  color: #707073;
  text-decoration: none;
}
.footer .footer-top .footer-grid ul.bottom li a:hover {
  color: #f26649;
}
.footer .footer-top .footer-grid ul.bottom li:hover {
  color: #f26649;
}
/*--footer end--*/
/*--copy start--*/
.copy {
  text-align: center;
  background: #5B83AD;
  height: 3em;
}
/*--copy end--*/
h3.tittle {
  padding: 1em 0 !important;
  font-size: 2em;
}
h3.tittle i {
  color: #f26649;
}
/*log in page*/
.login {
  padding: 5em 3em;
}
.login-grids {
  padding: 3em 0 0;
  margin-bottom:15.2em;
}
.log form input[type="password"] {
  margin-right: 58px;
}
.log h5{
  color: #F26649;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  font-weight: 400;
}
.log form {
  margin-top:32px;
}
.log form input[type="text"],.log form input[type="password"] {
  width: 70%;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  outline: none;
  color: #000;
  margin-bottom:32px;
}
.log form input[type=submit] {
  border: none;
  color: #ffffff;
  padding: 11px 53px;
  font-size: 17px;
  cursor: pointer;
  margin: 0 0 32px 0;
  background: #4A245E;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.log form input[type=submit]:hover,.login-right a:hover {
  background: #F26649;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.log p a{
  text-decoration:none;
  color:#4a245e;
}
.log p a:hover{
  color: #F26649;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right p {
  color: #777;
  margin: 22px 0 40px 0;
  font-size: 0.9em;
  line-height: 1.9em;
}
.log p{
  color: #777;
  margin: 22px 0;
  font-size: 0.9em;
  line-height: 1.8em;
}
.log p:nth-child(4) {
  margin:0;
}
.log a{
  text-decoration:none;
  color: #F26649;
}
.log a:hover{
  color:#4a245e;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right a{
  text-decoration: none;
  background: #4A245E;
  color: #ffffff;
  font-size: 16px;
  padding: 14px 34px;
}
/*-- register --*/
.sign-up{
  padding: 0em 0em;
  margin: 0 auto;
}
.sign-up-form {
  padding: 3em 5em;
}
.sign-up-form p{
  color: #777;
  font-size: 0.9em;
  margin: .5em 0 3em;
  line-height: 1.7em;
}
.sign-up1{
  float:left;
  width:27%;
}
.sign-up1 h4{
  color: #3C4348;
  margin: 1.4em 0 1em;
  font-size: 16px;
  font-weight: 400;
}
.sign-up2{
  float:right;
  width:70%;
}
.sign-up2 input[type="text"]{
  outline:none;
  border:1px solid #333;
  background:none;
  font-size:15px;
  padding:10px 10px;
  width:100%;
  margin:1em 0;
  color: #999;
  font-family: 'Open Sans', sans-serif;
}
.sign-up2 input[type="password"]{
  outline:none;
  border:1px solid #333;
  background:none;
  font-size:15px;
  padding:10px 10px;
  width:100%;
  margin:1em 0;
  font-family: 'Open Sans', sans-serif;
  color: #999;
}
.sign-up h5{
  margin: 0 0 2em;
  color: #D52500;
  font-size: 20px;
}
.sign-up h6{
  margin: 2em 0 1em;
  color: #D52500;
  font-size: 20px;
}
.sign-up input[type="submit"]{
  outline: none;
  border: none;
  background: #4A245E;
  color: #fff;
  font-size: 20px;
  width: 17%;
  font-weight: 600;
  margin-left: 18em;
  margin-top: 3em;
  padding: 13px 0;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  text-transform: uppercase;
  -webkit-appearance: none;
}
.sign-up input[type="submit"]:hover{
  background: #F26649;
}
h3.tittle.reg {
  font-size: 1.6em;
}
/*signin page*/
.form-horizontal{
  margin: 20em 10em;
}
/*post page*/
.post-form{
  margin:20em 10em;
}